html, body {
    height: 100%;
    margin: 0px;
}
#bistaratze-aukerak {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    background-color: #fff;
    text-align: center;
    padding: 5px;
}
#mapa {
    height: 100%;
}
#kredituak {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    background-color: #fff;
    width: 275px;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px;
    text-align: center;
}
#kredituak #argia {
    width: 125px;
}
#kredituak #iametza {
    width: 125px;
    margin-left: 15px;
}
#kredituak #egilea {
    padding-bottom: 3px;
    padding-top: 3px;
}
#kredituak a {
    color: #e50000;
}
.leaflet-label {
    border-color: #f03;
}
